h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-weight: bold;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}